body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* dropdown-custom {
  background-color: green;
  color: #007bff;
  padding: 1rem;
  line-height: 0;

}

btn-custom {
  padding: 1rem;
  border: 0;
  color: #007bff;
  background-color: green
} */

a {
  padding: 1rem;
  line-height: 1.49;
  font-size: 2rem;
}

#form-container {
  margin: auto;
  width: 600px;
}

.category {
  color: rgb(96, 128, 218);
}

.category-header {
  color: rgb(96, 128, 218);
}
#card-container {
  background-color: rgb(96, 128, 218);
  border-radius: 15px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  width: 600px;
  color: white;

}

.flex-third {
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.sq-input {
  color: white;
}

#quantity-input {
  width: 150px;
}

.cart {
  min-height: 400px;
}

.product {
  width: 100%;
}

#root {
  width: 100%;
}

.cart-count {
  background-color: grey;
  color: black;
  border-radius: 50%;
  position: absolute;
  width: 20%;
  height: 20%;
  font-size: .75rem;
  top: 50%;
  right: 1%;
  text-align: center;

}

.cart-nav {
  position: relative;
  display: block;

}